@{
    ViewData["Title"] = "О приложении";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Стандартное описание стандартного приложения по стандартному управлению стандартным отелем.</p>
<p>На данном этапе есть аутентификация и авторизация, вохможность просмотра и бронирования номеров. Выселяться пока что нельзя. Может чуть позже.</p>
