@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Поддержка:</strong> <a href="mailto:ak_donskikh@mail.ru">ak_donskikh@mail.ru</a><br />
</address>
