@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Сайт сохраняет фамилию, имя, отчество и email зарегистрировшегося пользователя, а также информацию о забронированных им номерах.</p>
