@using HotelManagementApp.Utils
@model string

<div class="navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" role="button" asp-controller="Booking" asp-action="Index" asp-route-Id="@Model">Забронировать</a>
        if (User.IsInRole(Constants.Roles.Manager))
        {
            <h2>Место для вашей рекламы</h2>
            <a class="btn btn-sm" role="button" asp-controller="Home" asp-action="Index">Удалить</a>
        }
    }
    else
    {
        <a class="btn btn-primary" role="button" asp-controller="Account" asp-action="Login">Забронировать</a>
    }
</div>